In [1]:
import requests

url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqb3JkaS5qb3JkYW5hLjE5ODhAZ21haWwuY29tIiwianRpIjoiMzYyZGE3NzQtNjZkYS00MDk4LWJlOTktNTk4ODJkZTE3YzY3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1NzQ2OTA2MjksInVzZXJJZCI6IjM2MmRhNzc0LTY2ZGEtNDA5OC1iZTk5LTU5ODgyZGUxN2M2NyIsInJvbGUiOiIifQ.nimZxXjhdQDB4NUnBEpZDTNB68BOjmCk65WDAjH1Fa0"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/4bfea56c",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [2]:
forecast = response.json()

In [3]:
forecast

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/4bfea56c',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [4]:
response = requests.get('https://opendata.aemet.es/opendata/sh/9793622d', params=querystring)

In [5]:
data_bcn = response.json()

In [6]:
from pandas.io.json import json_normalize

df = json_normalize(data_bcn)

In [7]:
df = df.apply(lambda x: x.str.replace(',','.'))

In [8]:
df = df.astype({"prec": float, 'velmedia': float, 'racha':float})

In [9]:
df.drop(columns=['indicativo', 'nombre', 'provincia', 'altitud'], inplace= True) 
df

,fecha,prec,dir,velmedia,racha,horaracha,tmed,tmin,horatmin,tmax,horatmax
0,2017-01-01,0.0,28,1.9,6.1,20:00,NaN,NaN,NaN,NaN,NaN
1,2017-01-02,0.0,22,2.2,9.4,14:30,NaN,NaN,NaN,NaN,NaN
2,2017-01-03,0.0,34,2.8,7.2,08:10,NaN,NaN,NaN,NaN,NaN
3,2017-01-04,0.0,27,2.2,6.7,15:10,NaN,NaN,NaN,NaN,NaN
4,2017-01-05,0.0,34,1.7,7.5,10:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
725,2018-12-27,0.0,33,2.2,5.3,09:20,12.0,8.6,23:59,15.3,13:50
726,2018-12-28,0.0,36,1.9,5.3,22:10,10.7,6.6,06:20,14.8,14:30
727,2018-12-29,0.0,35,2.2,6.4,05:40,10.3,6.2,07:10,14.4,15:00
728,2018-12-30,0.0,35,2.5,6.7,23:10,11.4,5.1,07:00,17.8,14:50
729,2018-12-31,0.0,35,2.8,7.5,01:00,11.8,6.5,08:00,17.1,14:20

In [10]:
df.to_csv('AEMET_data.csv')