In [1]:
import pandas as pd

## Once the dataset is clean, here we order the date column to make sure we can merge this dataframe with the one of the crashes

In [2]:
meteo = pd.read_csv('../METEO/AEMET_data.csv')

In [3]:
meteo.head()

,Unnamed: 0,fecha,prec,dir,velmedia,racha,horaracha,tmed,tmin,horatmin,tmax,horatmax
0,0,2017-01-01,0.0,28.0,1.9,6.1,20:00,NaN,NaN,NaN,NaN,NaN
1,1,2017-01-02,0.0,22.0,2.2,9.4,14:30,NaN,NaN,NaN,NaN,NaN
2,2,2017-01-03,0.0,34.0,2.8,7.2,08:10,NaN,NaN,NaN,NaN,NaN
3,3,2017-01-04,0.0,27.0,2.2,6.7,15:10,NaN,NaN,NaN,NaN,NaN
4,4,2017-01-05,0.0,34.0,1.7,7.5,10:00,NaN,NaN,NaN,NaN,NaN

In [4]:
meteo[['Any','Mes', 'Dia']] = meteo.fecha.str.split("-",expand=True,)

In [5]:
meteo.head()

,Unnamed: 0,fecha,prec,dir,velmedia,racha,horaracha,tmed,tmin,horatmin,tmax,horatmax,Any,Mes,Dia
0,0,2017-01-01,0.0,28.0,1.9,6.1,20:00,NaN,NaN,NaN,NaN,NaN,2017,01,01
1,1,2017-01-02,0.0,22.0,2.2,9.4,14:30,NaN,NaN,NaN,NaN,NaN,2017,01,02
2,2,2017-01-03,0.0,34.0,2.8,7.2,08:10,NaN,NaN,NaN,NaN,NaN,2017,01,03
3,3,2017-01-04,0.0,27.0,2.2,6.7,15:10,NaN,NaN,NaN,NaN,NaN,2017,01,04
4,4,2017-01-05,0.0,34.0,1.7,7.5,10:00,NaN,NaN,NaN,NaN,NaN,2017,01,05

In [6]:
meteo.rename(columns={"fecha":"Data"}, inplace=True)

In [7]:
meteo.Data = meteo.Data.astype('datetime64[ns]')

In [8]:
meteo.to_csv('rain_clean.csv')